:root {
    --primary-color: #3B28CC;
    --secondary-color: #2D2D2A;
}

body{
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, rgb(0,0,0),rgb(8,2,44));
}

.startTheGame{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color), 0 0 15px var(--primary-color), 0 0 25px var(--primary-color), 0 0 100px var(--primary-color);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 5em;
    text-decoration: none;
    font-family: 'Press Start 2P';
    transition: background-color 1s ease, box-shadow 1s ease, color 1s ease;
}

.startTheGame:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color), 0 0 25px var(--secondary-color);
    color: #BCD8C1;
}