body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.container {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.icon {
    width: 90%;
    aspect-ratio: 1;
}
