:root {
    --primary-color: #3B28CC;
    --secondary-color: #2D2D2A;
}

body{
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, rgb(0,0,0),rgb(8,2,44));
    overflow: hidden;
}

h1 {
    
}

.container {
    width: 40%;
    padding-top: 3%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 30% 30% 10%;
    justify-items: center;
    align-items: center;    
}

.item {
    width: 100%;
    height: 100%;
    border: 2.5px solid var(--primary-color);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button {
    align-self: stretch;
    padding: 10%;
    margin-top: 15%;
    border: 0;
    text-transform: capitalize;
    aspect-ratio: 16/9;
    margin-bottom: 2.5%;
    border-radius: 25%;
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color), 0 0 5px var(--primary-color), 0 0 10px var(--primary-color), 0 0 25px var(--primary-color);   
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; 
    text-decoration: none;
    font-family: 'Bungee', sans-serif;
    transition: background-color 1s ease, box-shadow 1s ease, color 1s ease;
}

.button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color), 0 0 2.5px var(--secondary-color), 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color);
    color: var(--primary-color);  
}

#reset-button {
    justify-self: start;
}

#back-button {
    justify-self: end;
}

#id1, #id2, #id3 {
    border-top: 0;  
}

#id7, #id8, #id9 {
    border-bottom: 0;  
}

#id1, #id4, #id7 {
    border-left: 0;  
}

#id3, #id6, #id9 {
    border-right: 0;  
}